<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @video_game, partial: "card", as: :video_game %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "video_games/video_game_ratings" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "video_games/video_game_statuses" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "video_games/video_game_notes" %>
  </div>
</div>
  <!-- Show Page Customization end -->
