<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @developer, partial: "card", as: :developer %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "developers/developer_video_games" %>
  </div>
</div>
