<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @platform, partial: "card", as: :platform %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "platforms/platform_ratings" %>
  </div>
</div>
